node_modules
artifacts
cache
typechain
lib
out
.DS_Store
.idea

/src/**/*.js
/src/**/*.map
.env
deployments/localhost/
contracts.iml

/**/node_modules/
/**/output*/*
!**/output-esm/package.json
!**/output-cjs/package.json
