node_modules
artifacts
artifacts_forge
cache
typechain
out
.DS_Store
.idea

/src/**/*.js
/src/**/*.map
.env
deployments/localhost/
deployments/evmostestnet/
deployments/hardhat/
deployments/rinkeby/
deployments/kovan/
contracts.iml
dist
lib/**
