name: Pull Request - build and run tests

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development

jobs:
  lint:
    env:
      MNEMONIC: "${{ secrets.MNEMONIC }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install Npm dependencies
        run: npm install

      - name: Lint
        run: npm run lint

  build-and-test-local:
    needs: [lint]
    env:
      MNEMONIC: "${{ secrets.MNEMONIC }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install Forge dependencies
        run: forge install

      - name: Run forge tests
        run: forge test --no-match-contract 'Abstract|BeefyERC4626Test|BeefyPolygonERC4626Test|DotDotERC4626Test'

  build-and-test-bsc:
    needs: [lint]
    env:
      MNEMONIC: "${{ secrets.MNEMONIC }}"
      FORK_URL_BSC: "${{ secrets.FORK_URL_BSC }}"
      FORK_BLOCK_NUMBER: 20238373
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install Forge dependencies
        run: forge install

      - name: Run forge tests on BSC
        run: forge test --fork-url ${FORK_URL_BSC} --fork-block-number ${FORK_BLOCK_NUMBER} --no-match-contract 'Abstract|BeefyERC4626Test|BeefyPolygonERC4626Test|DotDotERC4626Test'

  build-and-test-polygon:
    needs: [lint]
    env:
      MNEMONIC: "${{ secrets.MNEMONIC }}"
      FORK_URL_POLYGON: "${{ secrets.FORK_URL_POLYGON }}"
      FORK_BLOCK_NUMBER: 31624814
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install Forge dependencies
        run: forge install

      - name: Run forge tests on Polygon
        run: forge test --fork-url https://rpc.ankr.com/polygon --fork-block-number ${FORK_BLOCK_NUMBER} --no-match-contract 'Abstract|BeefyERC4626Test|BeefyPolygonERC4626Test|DotDotERC4626Test'

  build-and-test-evmostestnet:
    needs: [lint]
    env:
      MNEMONIC: "${{ secrets.MNEMONIC }}"
      FORK_BLOCK_NUMBER: 2940378
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install Forge dependencies
        run: forge install

      - name: Run forge tests on Evmos Testnet
        run: forge test --fork-url https://eth.bd.evmos.dev:8545 --fork-block-number ${FORK_BLOCK_NUMBER} --no-match-contract 'Abstract|BeefyERC4626Test|BeefyPolygonERC4626Test|DotDotERC4626Test'

  build-and-test-moonbeam:
    needs: [lint]
    env:
      MNEMONIC: "${{ secrets.MNEMONIC }}"
      FORK_BLOCK_NUMBER: 1444384
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install Forge dependencies
        run: forge install

      - name: Run forge tests on Moonbeam
        run: forge test --fork-url https://moonbeam.api.onfinality.io/public --fork-block-number ${FORK_BLOCK_NUMBER} --no-match-contract 'Abstract|BeefyERC4626Test|BeefyPolygonERC4626Test|DotDotERC4626Test'
